<ul id="files">
	<li>
		<b>FuzzyToast Script</b>
		<ul>
			<li> <a href="js/jquery.fuzzytoast.js">jquery.fuzzytoast.js</a> - 
			The fuzzytoast plugin code that powers this demonstration.
			</li>
		</ul>
        <p><b>Note:</b> The <code>jquery.fuzzytoast.js</code> script depends
           on the <a href="http://jquery.com">jQuery</a> and 
           <a href="http://api.jquery.com/category/plugins/templates/">jQuery 
           Template</a> scripts. You would probably have
           the following code at the beginning of your <code>index.html</code>:
        </p>
        <pre>  &lt;script type="text/javascript" src="js/jquery-1.6.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript" src="js/jquery-ui-1.8.11.custom.min.js"&gt;&lt;/script&gt;
  &lt;script type="text/javascript" src="js/jquery.tmpl.min.js"&gt;&lt;/script&gt;
        </pre>
	</li>
	<li>
		<b>Demonstration Scripts</b>
		<ul>
			<li> <a href="js/my-fuzzytoast.js">my-fuzzytoast.js</a> -
			This script creates the <i>fuzzytoast</i> associations between the
			HTML elements (buttons) and the templates and REST requests.  
			</li>
			<li> <a href="js/my-prototype.js">my-prototype.js</a> -
			This script creates other dynamic elements for
			the demonstration... like the error alert box.
			</li>
			<li> <a href="js/my-users.js">my-users.js</a> -
			The script loaded when the "User Profiles" button is selected.
			</li>
			<li> <a href="js/my-table.js">my-table.js</a> - The script
			loaded when we request the "Table" button section.
			</li>
		</ul>
	</li>
	<li>
		<b>Templates</b> - Templates we use for this demonstration. If you
			download the file, you'll want to "View Source..."
		<ul>
			<li> <a href="templates/startup.html">startup.html</a> - Displayed
				when the page is first loaded that contains the introduction.
			</li>
			<li> <a href="templates/instructions.html">instructions.html</a> - The instructions
				displayed by the "Instructions" button.
			</li>
			<li> <a href="templates/users.html">users.html</a> - The initial user list.
				Here you can see how you can easily display all the data
				received and create a dynalink for more.
			</li>
			<li> <a href="templates/profile.html">profile.html</a> - The customer profile
				data displayed when a user is clicked on.
			</li>
			<li> <a href="templates/table.html">table.html</a> - The initial table listing
				of all customers. Here you can see how we kick off multiple
				requests for all of the data we received.
			</li>
			<li> <a href="templates/table-row.html">table-row.html</a> - The additional
				table cells containing customer data we insert into a row
				previous created. 
			</li>
			<li> <a href="templates/files.html">files.html</a> - This file.
			</li>
		</ul>
	</li>
	<li>
		<b>JSON Data</b> - Static, faked, but reasonable JSON data we pretend
			is the results of a REST web service request:
		<ul>
			<li> <a href="data/user.json">user.json</a> - The list of all user information.
				Each person can be found using:
				<code>data/user/<i>ID</i>.json</code>
		                (For instance: <a href="data/user/5.json">Becky Davis</a>)
			</li>
		</ul>
	</li>
	<li>
        <b>Github Access</b> - Grab the entire source code to this entire demo
        at <a href="http://github.com/howardabrams/fuzzytoast">Git repository</a>.
    </li>
</ul>
