<div id="instructions">

   <p>
      The <strong>jQuery Fuzzytoast</strong> plugin aims to easily
      combine data from standard REST calls with "templates" and insert
      the results back into the HTML layout.
   </p>

   <p>This goal removes xSP processing from the server to the
      client, making the server work significantly more straight-forward
      and easier. However, to help with the added complexity of the
      client, we've created this project.</p>

   <h2>Usage</h2>

   <p>
      The easiest way to use this plugin is to place a <em>fuzzytoast</em>
      aspect on a button or some other object and have it grab an online
      template, some data from a REST call and <em>insert</em> it as the
      child of some element, as in:
   </p>

   <pre><code>$('#some-buttom').fuzzytoast ({ 
    template: 'templates/about.html',
    data    : 'rest/some-data.json' 
});</code></pre>

   <p>
      This call makes many assumptions, but the
      <code>fuzzytoast</code>
      parameters are the following:
   </p>

   <ul>
      <li><p>
            <code>template</code>
            - The URL of the template to use
         </p>
      </li>
      <li><p>
            <code>data</code>
            - The URL to a REST interface that responds with a data
            model used to substitute in the template.
         </p>
      </li>
      <li><p>
            <code>destination</code>
            - The jQuery selector to use when adding the results (as a
            child element). If not specified, it defaults to
            <code>$.fuzzytoast.default_destination</code>
            (see below).
         </p>
      </li>
      <li><p>
            <code>method</code>
            - The HTTP method used when retrieving the data. Defaults to
            <code>$.fuzzytoast.default_method</code>
            (see below).
         </p>
      </li>
      <li><p>
            <code>append</code>
            - Should the results be inserted as the only child of the
            destination (
            <code>false</code>
            ) or <em>appended</em> to the end of the existing children (
            <code>true</code>
            ). Defaults to
            <code>$.fuzzytoast.default_append</code>
            (see below).
         </p>
      </li>
      <li><p>
            <code>finished</code>
            - A callback function called after the template and data have been
            successfully inserted into the document. Defaults to
            <code>$.fuzzytoast.default_success</code>
            (see below).
         </p>
      </li>
      <li><p>
            <code>error</code>
            - A function to call if either the template or data could
            not be downloaded. Defaults to
            <code>$.fuzzytoast.default_error</code>
            (see below).
         </p>
      </li>
      <li><p>
            <code>finished</code>
            - A function called after either the <code>success</code> or
            <code>error</code> callbacks. Defaults to
            <code>$.fuzzytoast.default_finished</code>
         </p>
      </li>
   </ul>

   <p>You can also set up defaults for all requests. These defaults
      include:</p>
   <ul>
      <li>
         <p>
            <code>$.fuzzytoast.default_destination</code>
            - The jQuery selector that references an HTML element where
            the results will be place. Defaults to
            <code>#main</code>
            .
         </p></li>
      <li>
         <p>
            <code>$.fuzzytoast.default_method</code>
            - The HTTP method to use when retrieving the data from a web
            service. Defaults to
            <code>GET</code>
            (didn't see that coming, did you?)
         </p></li>
      <li>
         <p>
            <code>$.fuzzytoast.default_append</code>
            - Should the results of the request be appended to the
            destination. Defaults to
            <code>false</code>
         </p></li>
      <li>
         <p>
            <code>$.fuzzytoast.default_success</code>
            - A function name to be used for all
            <em>successful</em>
            requests.
         </p></li>
      <li>
         <p>
            <code>$.fuzzytoast.default_error</code>
            - A function name to be used for all
            requests that failed... for whatever reason.
         </p></li>
      <li>
         <p>
            <code>$.fuzzytoast.default_finished</code>
            - A function name to be used for all
            <code>finished</code>
            requests.
         </p></li>
      <li>
         <p>
            <code>$.fuzzytoast.debug</code>
            - Specifies the extra
            <code>console.log</code>
            ging features of the system. Defaults to
            <code>false</code>
            .
         </p></li>
   </ul>

   <h2>Utility Functions</h2>

   <p>Templates themselves may contain data that needs to call the
      fuzzytoast system, and in this case, you can build up the dynamic
      aspects by first creating the action, and then calling it, as in:</p>

   <pre><code>var id = $.fuzzytoast.create({
    template    : 'templates/profile.html',
    data        : 'data/user/'+$(this).attr('id')+'.json',
    destination : '#main'
});															
$.fuzzytoast(id);</code></pre>

   <p>
      Or doing this with a single call to
      <code>$.fuzzytoast()</code>
      as in:
   </p>

   <pre><code>$.fuzzytoast({
    template    : 'templates/profile.html',
    data        : 'data/user/'+$(this).attr('id')+'.json',
    destination : '#main'
});</code></pre>

   <p>
      A couple of reasons why you would want to use the <em>utility
      function</em> form of <code>$.fuzzytoast()</code>
      instead of the initial <em>selector method</em> usage described
      above, e.g. <code>$('#selector').fuzzytoast()</code>:
   </p>

   <p>
      First, the <code>$(this)</code>
      is not available without being <em>inside</em> a function call.
   </p>

   <p>
      Second, you might want to kick off the call with something other
      than a <code>click</code>, as in:
   </p>

   <pre><code>$('#user-list li').
    hover(
        function() {
            $(this).addClass('ui-state-hover'); 			
            $.fuzzytoast({
                    template    : 'templates/profile.html', 
                    data        : 'data/user/'+$(this).attr('id')+'.json', 
                    destination : '#main'					
                });
        },
        function() { $(this).removeClass('ui-state-hover'); }	
    );</code></pre>

    <h2>Multiple Data Sources</h2>
    <p>
    The <code>data</code> parameter can either be a string containing the URL to access
    for the data, or an <em>object containing multiple sources</em>. For example:
    </p>
   <pre><code>$.fuzzytoast({
    template    : 'templates/dashboard.html',
    data        : {
                     'apps'    : '/apps/v1/details',
                     'services': '/srvs/v1/details',
                     'profile' : '/profile/' + id
                  },
    destination : '#main'
});</code></pre>
    <p>
    In this example, the plugin will retrieve the JSON document from each of
    the three URLs, and make them available to the template. Each JSON object
    can then be referenced by the <em>key</em> given in the <code>data</code>.
    For example:
    </p>
   <pre><code>{
  'apps'    : [ { 'id':42, 'name':'mongrue' }, 
                { 'id':34, 'name':'fuzzytoes' }
              ],
  'services': [ { 'id':3, 'name':'mongodb-1.8', 'type':'mongodb' },
                { 'id':4, 'name':'redis-cep', 'type':'redis' } 
              ],
  'profile' : { 'name': 'Mickey Mouse', 
                'email': 'gloves@disney.com'
              }
}</code></pre>
    <p>
      If you are using Mustache, your template could access that data in
      this way:
    </p>
    <ul>
      <li> <code>{{apps[1].name}}</code> </li> 
      <li> <code>{{services[0].type}}</code> </li>
      <li> <code>{{profile.email}}</code> </li>
    </ul>
    <p>
    <b>Note:</b> If any of the data sources fail, then <code>error()</code>
    callback function is called, and the <code>success()</code> function will
    not... Even if two of the three succeed.
    </p>
    
   <h2>Template Features</h2>
   <p>
     While FuzzyToast needs a template engine, it doesn't supply one.
     You use whatever system you want, by simply including
     a system. For example:
   </p>
   <pre><code>&lt;script type="text/javascript" src="js/libs/mustache.js"&gt;&lt;/script&gt;</code></pre>
   <p>     
     If it is one of the ones listed below, FuzzyToast will recognize it, and use it:
   <p>
   <ul>
     <li> <a href="https://github.com/janl/mustache.js" target="_new">Mustache</a> (see <a href="show-mustache.html" id="mustache-demo">demo</a>)</li>
     <li> <a href="http://handlebarsjs.com/" target="_new">Handlebars</a>  (see <a href="show-handlebars.html" id="handlebars-demo">demo</a>)</li>
     <li> <a href="http://api.jquery.com/category/plugins/templates/" target="_new">jQuery Templates</a> (this page is rendered using it)</li>
     <li> <a href="http://documentcloud.github.com/underscore/#template" target="_new">Underscore's Templates</a> </li>
   </ul>

   <p>
     Whatever template engine you use, we've added a feature to allow
     <em>partial templates</em>, where a template can include the contents
     of another template. 
     
     For instance, if you were using jQuery Templates, and 
     <code>foo.html</code>
    contains:
  </p>
     <pre><code>&lt;h1&gt;Hello, ${user.name}&lt;/h1&gt;
&lt;div&gt;
{{INCLUDE bar.html}}
&lt;/div&gt;</code></pre>
    <p>
      And <code>bar.html</code> contains:
    </p>
     <pre><code>Books read:
&lt;ul&gt;
  {{each(book) user.books}}
    &lt;li&gt; ${book.name} &lt;/li&gt;
  {{/each}}
&lt;/ul&gt;</code></pre>
    <p>
      The template that is processed with the model would look like this:
    </p>
     <pre><code>&lt;h1&gt;Hello, ${user.name}&lt;/h1&gt;
&lt;div&gt;
Books read:
&lt;ul&gt;
  {{each(book) user.books}}
    &lt;li&gt; ${book.name} &lt;/li&gt;
  {{/each}}
&lt;/ul&gt;
&lt;/div&gt;</code></pre>
    <p>
      Included templates can include other templates.
      Oh yeah, the <code>{{INCLUDE ...}}</code> must be in uppercase. Didn't
      want to risk conflicts with the template engine.
   </p>
   
   <h2>Using Other Template Systems</h2>
   <p>
   We have chosen to support a few popular template engines, but you can
   use others... 
    (see <a href="http://howardabrams.com/presentations/?FuzzyToast-Templates">this presentation</a>)
   you just have to tell us how to call it, by setting the
   following variables:
   </p>
   <ul>
     <li>
       <code>$.fuzzytoast.template.engine</code> - (String)
       The name of the template system. Used only in debug messages.
     </li>
     <li>
       <code>$.fuzzytoast.template.type</code> - (String)
       Tell us about the behavior of the system, by setting this variable
       to one of the following:
       <ul>
          <li>
            <code>functional</code> - 
            This approach is the easiest (for us anyway), as this function takes 
            both the template and the model at once, and returns the 
            generated results.
          </li> 
          <li>
            <code>global-storage</code> - 
            Global storage is obnoxious, because it isn't functional. We'll
            store all of our templates with the key: fuzzytoast-template
          </li>
          <li>
            <code>variable</code> - 
            The "variable" approach compiles the template and returns it.
            We then use that to process the "model"...
          </li> 
       </ul>
     </li>
     <li>
       <code>$.fuzzytoast.template.render</code> - (Function)
       A single function that is given both the template and the data model.
       The results from this function should be HTML, as this is what is
       embedded back into the page. Mustache behaves this way.
     </li>
     <li>
       <code>$.fuzzytoast.template.compiler</code> - (Function)
       Called with just the template, and if the <code>type</code>
       is "variable", then the output from this function should be
       a function that can be given the data model for rendering.
       Handlebars behaves this way.
       <br/><br/>
       If the <code>type</code> is "global-storage", then this function doesn't
       return anything, but stores the compiled template in a global variable,
       and we'll call the <code>processor</code> with the name of this variable.
       jQuery's template system behaves this way.
     </li>
     <li>
       <code>$.fuzzytoast.template.processor</code> - (Function)
       Called only if <code>type</code> is set to "global-storage" in
       order to process the data model through the compiled template.
     </li>
  </ul>
  <p>
    If you have a template system that doesn't behave in one of the ways listed
    above, you can easily create your own <code>render()</code> function, and 
    do the processing yourself. If Handlebars wasn't so damn cool, we probably
    would have only supported that approach.
  </p>
  
   <h2>Handling Errors</h2>

   <p>Of course, you get errors... especially when dealing with a
      lot of downloaded files and web services. We've attempted to make
      this part simple.</p>
   <p>
      You can either add a
      <code>error</code>
      function reference to a link, or you can specify the function
      reference for all links by setting the
      <code>$.fuzzytoast.default_error</code>
      value.
   </p>
   <p>
      Assuming we have the following modal dialog template <i>embedded
         in our page</i> (instead of attempting to download it at run-time
      from our server):
   </p>
   <pre><code>&lt;script type="text/x-jquery-tmpl" id="errorTemplate"&gt;
    The request we made to the web service returned an error.
    &lt;table&gt;
      &lt;tr&gt;
	&lt;th align="left"&gt;Response:&lt;/th&gt;
	&lt;td&gt;<b>${status}</b>&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
	&lt;th align="left"&gt;Request:&lt;/th&gt;
	&lt;td&gt;<b>${url}</b>&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;
&lt;/script&gt;</code></pre>
   <p>We could create the following error handler:</p>
   <pre><code>function access_error( errorDetails )
{
    $('#error-dialog').empty();

    $( "#errorTemplate" ).template( "errorTemplate" );
    $.tmpl( "errorTemplate", errorDetails ).appendTo( "#error-dialog" );

    $('#error-dialog').dialog('open');
}</code></pre>
   <p>
      Notice that the error handler is passed a
      <code>errorDetails</code>
      object that contains lots of different values about the error:
   </p>
   <ul>
      <li><code>type</code>: The type of request that failed,
         either "template" or "model".</li>
      <li><code>url</code>: The URL associated with the error. This
         might either be the URL to the template or to the web service
         call (depending on the <code>type</code>).</li>
      <li><code>link</code>: A reference to the fuzzytoast link
         associated with the error. The <code>link.id</code> might be
         useful in debugging the problem.</li>
      <li><code>status</code>: The HTTP error code, i.e. <code>404</code>.
      </li>
      <li><code>statusText</code>: The error text associated with
         the error. This is usually just "error".</li>
      <li><code>jqXHR</code>: A reference to the <a
         href="http://docs.jquery.com/Types#XMLHttpRequest">jQuery
            XMLHttpRequest</a> object.</li>
   </ul>
   <p>Now we can associate the error handler with all errors, with:
   </p>
   <pre><code>$.fuzzytoast.default_error = access_error;</code></pre>
   
   
   <h2><code>loadWithCache()</code></h2>
   <p>
     jQuery has a nice function, 
     <a href="http://api.jquery.com/load/"><code>.load()</code></a> which
     loads some static HTML data and inserts in the page. The problem is if
     you do this process again, it re-downloads it.
   </p>
   <p>
     We've extended jQuery with a <code>.loadWithCache()</code> function that
     acts just like <code>.load()</code> the first time it is executed.
     If it is called again, it just pulls the results from an in-memory
     cache, and doesn't bother hitting the server.
   </p>
   <p>
    This function is useful for static HTML files that you know won't change
    very often.
   </p>
   <p>
    The behavioral differences between the first and *second load* include:
   </p>
   <ul>
     <li>
        The <code>data</code> value (if any) is ignored.
     </li>
     <li>
        The callback is only given the data, not a <code>textStatus</code> or 
        the <code>XMLHttpRequest</code> object.
     </li>
   </ul>
   <p>
     <b>Note:</b> The cache is cleared when the browser page is refreshed.
   </p>
    
</div>
<script type="text/javascript">
$(function(){
    var height = 350;
    var width  = 700;
    var windowStats = "height="+height+",width="+width+",resizable=yes";
    
   $("#mustache-demo").click(function(){
       window.open("show-mustache.html", "demo", windowStats);
       return false;
   }); 
   $("#handlebars-demo").click(function(){
       window.open("show-handlebars.html", "demo", windowStats);
       return false;
   });
   
   $('pre code').each(function(i, e) {
       hljs.highlightBlock(e, '    ');
    });
});
</script>