<div id="twitter-comments">
  <p>The panel on the right pulls the last 20 public Twitter feeds
    and displays them.</p>
  <p>What is interesting here is that we are using the REST API (not
    the streaming), and tell the FuzzyToast link to refresh the panel
    every 10 seconds (or so). This is one approach to keeping your onscreen data
    up-to-date without any changes to your backend API.</p>
  <pre><code>$.fuzzytoast({
    destination: '#twitter-panel',
    data: '/twitter',
    template: 'twitter-panel.html',
    refresh: 10000
});</code></pre>
  <p>
    Hrm... now I know why no one displays the public feed
    for demo purposes.
  </p>
  <p>
    <B>Note:</B> Looks like this public feed, 
    <a href="https://dev.twitter.com/blog/api-housekeeping">soon won't be available</a>.
    Guess I'll fix it then...
  </p>
</div>
<div id="twitter-panel"></div>

<script type="text/javascript" src="js/my-twitter-feed.js"></script>