<div id="twitter-comments">
  <p>The panel on the right pulls the last 20 public Twitter feeds
    and displays them.</p>
  <p>What is interesting here is that we are using the REST API (not
    the streaming), and tell the FuzzyToast link to refresh the panel
    every 10 seconds (or so). This is one approach to keeping your onscreen data
    up-to-date without any changes to your backend API.</p>
  <pre><code>$.fuzzytoast({
    destination: '#twitter-panel',
    data: '/cgi-bin/twitter.cgi',
    template: 'twitter-panel.html',
    refresh: 10000
});</code></pre>
  <p>
    <b>Note:</b> I realize that this is obvious, but keep in mind that
    your JavaScript calls can not go directly to
    <code>http://api.twitter.com</code>, but can only access the host
    (and port) from whence they came.
  </p>
  <p>
    In order to try this demo at home, I have a
    <a href="http://www.nodejs.org">Node.js</a>
    server that acts a proxy.
  </p>
</div>
<div id="twitter-panel"></div>

<script type="text/javascript" src="js/my-twitter-feed.js"></script>